@layer base {
  :root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.emerald.300');
    --shiki-token-string: theme('colors.emerald.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.emerald.300');
    --shiki-token-punctuation: theme('colors.zinc.200');
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://css-tricks.com/custom-scrollbars-in-webkit/ */

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #292d45;
  height: 80%;
  padding-top: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: #3d4363;
}

.content::-webkit-scrollbar {
  display: none;
}

.content:hover::-webkit-scrollbar {
  display: block;
}

.folder-container {
  position: relative;
}

.content:hover .line-before-folder {
  height: calc(100% - 28px);
  position: absolute;
  border-left: 1px solid #31374e;
  top: 28px;
  user-select: none;
}

.folder-active .line-before-folder {
  height: calc(100% - 28px);
  position: absolute;
  border-left: 1.5px solid #31374e;
  top: 28px;
  user-select: none;
}

.top-arrows,
.bottom-arrows {
  content: '';
  position: absolute;
  z-index: 30;
}

.top-arrows.left-arrow {
  top: -2px;
  left: -2px;
}

.top-arrows.right-arrow {
  top: -2px;
  right: -2px;
}

.bottom-arrows.left-arrow {
  bottom: -2px;
  left: -2px;
}

.bottom-arrows.right-arrow {
  bottom: -2px;
  right: -2px;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
