@layer base {
  :root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.emerald.300');
    --shiki-token-string: theme('colors.emerald.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.emerald.300');
    --shiki-token-punctuation: theme('colors.zinc.200');
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://css-tricks.com/custom-scrollbars-in-webkit/ */

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #292d45;
  height: 80%;
  padding-top: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: #3d4363;
}

.content {
  mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 0px, black 0px);
  mask-size: 100% 20000px;
  mask-position: left bottom;

  -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 0px, black 0px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;

  transition-duration: 0.5s;
}

.content:hover {
  mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 14px, black 14px);
  -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 14px, black 14px);
  mask-position: left top;
  -webkit-mask-position: left top;
}

.content::-webkit-scrollbar {
  display: none;
  position: absolute;
}

.content:hover::-webkit-scrollbar {
  display: block;
}
